/* shared styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
.color-primary {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.color-white {
  color: #fff;
}
.btn-primary {
  border-radius: 48px;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  display: inline-flex;
  padding: 21px 40px;
  align-items: flex-start;
  gap: 10px;
  border: none;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.btn-secondary {
  border-radius: 48px;
  background: #4ec5f7;
  display: inline-flex;
  padding: 21px 40px;
  align-items: flex-start;
  gap: 10px;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  border: none;
}
/* nav styles */
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-container {
  width: 100%;
  max-width: 1400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-brand {
  display: flex;
  align-items: center;
  gap: 20px;
}
.brand-logo {
  height: 40px;
}
.brand-name {
  color: #0b0223;
  font-family: Work Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 32px;
}
nav ul li {
  color: #3c354f;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.follow {
  display: flex;
  gap: 24px;
  align-items: center;
  width: 265px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 18px 24px;
}
.follow-logo {
  display: flex;
  align-items: center;
  gap: 16px;
}
.follow-p {
  color: #3c354f;
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
/* banner section styles */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  background-image: url("./images/Group14.png");
  fill: linear-gradient(
    223deg,
    rgba(140, 87, 238, 0.03) 0%,
    rgba(241, 68, 174, 0.03) 100%
  );
  background-position: left top;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.banner-container {
  width: 100%;
  max-width: 1400px;
  height: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .banner-text-container {
      background-image: url("./images/Group14.png");
      fill: linear-gradient(
        223deg,
        rgba(140, 87, 238, 0.03) 0%,
        rgba(241, 68, 174, 0.03) 100%
      );
      background-position: center;
      background-size: cover;
      width: 50vw;
      height: 700px;
      display: flex;
      align-items: center;
      justify-content: center;
    } */
.banner-img-container {
  width: 50%;
  /* height: 700px; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.banner-img {
  max-height: 681px;
}
.banner-header {
  color: #0b0223;
  text-align: left;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.banner-title {
  text-align: left;
  font-family: Work Sans;
  font-size: 95px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 24px;
}
.banner ul li {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 17px;
  color: #534c64;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: lowercase;
}
.banner-buttons {
  display: inline-flex;
  gap: 24px;
  margin-top: 24px;
}
.banner ul li img {
  margin-right: 12px;
}
.hide {
  display: none;
}
/* online game section styles */
.online-games {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}
.online-games-container {
  width: 100%;
  max-width: 1400px;
}
.online-title {
  color: #0b0223;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 16px;
}
.online-description {
  color: #534c64;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 48px;
}
.online-card-container {
  display: flex;

  justify-content: center;
  gap: 24px;
}
.card img {
  width: 342px;
  height: 400px;
  flex-shrink: 0;
}
.card p {
  width: 342px;
  color: #534c64;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
/* instant section */
.instant {
  display: flex;
  justify-content: center;
}
.instant-container {
  width: 100%;
  max-width: 1400px;
  height: 726px;
  display: flex;
}
.instant-text-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.instant-img-container {
  width: 50%;
  position: relative;
}
.instant-title {
  text-align: right;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}
.instant-description {
  color: #534c64;
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 353px;
}
.img-big {
  width: 634.833px;
  height: 650px;
  flex-shrink: 0;
  border-radius: 8px;
  position: absolute;
  right: 0px;
  top: 0px;
}
.img-small {
  width: 318.5px;
  height: 365.083px;
  flex-shrink: 0;
  border-radius: 8px;
  /* border: 10px solid #fff; */
  position: absolute;
  bottom: 0px;
  left: 65.17px;
  transform: translateX(-50%);
}
/* category styles */
.category {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 118.83px;
}
.category-container {
  width: 100%;
  max-width: 1400px;
}
.upper-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 27px;
}
.lower-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 29px;
}
.game-type {
  width: 243px;
  height: 80px;
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  padding: 10px 20px 10px 10px;
  gap: 16px;
  border-radius: 50px;
  background: #fff;
  border: 2px solid transparent;
}
.game-type p {
  color: #0b0223;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.game-type:hover {
  border: 2px solid #ff42a5;
}
.game-type:hover p {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* footer section styles */
footer {
  background-color: #0b0223;
  height: 636px;
  padding-top: 120px;
}
.footer-brand {
  text-align: center;
  margin-bottom: 56px;
}
.footer-support {
  margin-bottom: 56px;
}
.footer-support,
.policy {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.footer-support p {
  color: #fff;
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.footer-button {
  text-align: center;
  margin-bottom: 74px;
}
.footer-button button {
  background-color: transparent;
  border: none;
  margin-left: 40px;
  cursor: pointer;
}
.policy {
  margin-bottom: 74px;
}
.policy p {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.copyright {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.hide {
  display: none;
}

/* responsive styles */
/* mobile devices */
@media screen and (max-width: 576px) {
  /* nav section */
  nav {
    box-shadow: none;
    height: auto;
    margin-bottom: 78px;
  }
  .nav-container {
    flex-direction: column;
    gap: 62px;
    margin-top: 103px;
    max-width: 320px;
  }
  nav ul {
    flex-direction: column;
    gap: 36px;
  }
  .follow {
    margin-top: 26px;
  }
  /* banner section */
  .banner {
    background-position: left bottom;
    background-size: 100% auto;
  }
  .banner-container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    max-width: 320px;
  }
  .banner-img-container {
    height: 50%;
    justify-content: center;
    align-items: center;
  }
  .banner-img {
    height: 100%;
  }
  .banner-text-container {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner-header {
    font-size: 28px;
  }
  .banner-title {
    font-size: 48px;
  }
  .banner ul li {
    margin-bottom: 10px;
    font-size: 16px;
  }
  .btn-primary {
    border-radius: 28px;
    padding: 11px 20px;
    gap: 5px;
    font-size: 16px;
  }
  .btn-secondary {
    border-radius: 28px;
    padding: 11px 20px;
    gap: 5px;
    font-size: 16px;
  }
  /* online game section */
  .online-games-container {
    max-width: 320px;
  }
  .online-card-container {
    flex-direction: column;

    align-items: center;
    gap: 24px;
  }
  .online-title {
    font-size: 24px;
    width: 250px;
    margin: 0 auto;
  }
  .online-description {
    text-align: center;
    font-size: 12px;
    line-height: normal;
    width: 250px;
    margin: 12px auto 20px;
  }
  .card img {
    width: 250px;
    height: auto;
  }
  .card p {
    width: 250px;
    font-size: 12px;
    line-height: normal;
  }
}
